In [24]:
# Import dependencies.
import pandas as pd
import gmaps
import requests

# Import API key
from config import g_key

In [25]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("/Users/mikequick/Documents/DU Data Boot Camp/Module 6 - WeatherPy/World_Weather_Analysis/weather_data/cities.csv")
city_data_df.head()

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cockburn Town,TC,2021-10-08 10:08:26,21.4612,-71.1419,82.04,76,10,14.16
1,1,Esperance,AU,2021-10-08 10:08:27,-33.8667,121.9000,57.40,66,56,15.28
2,2,Vaini,TO,2021-10-08 10:08:27,-21.2000,-175.2000,75.36,94,75,2.30
3,3,San Luis,AR,2021-10-08 10:08:27,-33.2950,-66.3356,60.49,50,100,5.41
4,4,Tasiilaq,GL,2021-10-08 10:08:28,65.6145,-37.6368,33.96,50,1,7.00

In [26]:
city_data_df.dtypes

City ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [39]:
# Configure gmaps to use Google API key.
gmaps.configure(api_key=g_key)

In [43]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
# Heatmap of humidity

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the humidity.
humidity = city_data_df["Humidity"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
# Heatmap of cloudiness

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the cloudiness.
cloudiness = city_data_df["Cloudiness"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
# Heatmap of wind speed

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the wind speed.
wind_speed = city_data_df["Wind Speed"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [54]:
# Filter the dataset to fidn the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Cockburn Town,TC,2021-10-08 10:08:26,21.4612,-71.1419,82.04,76,10,14.16
2,2,Vaini,TO,2021-10-08 10:08:27,-21.2000,-175.2000,75.36,94,75,2.30
20,20,Auki,SB,2021-10-08 10:08:34,-8.7676,160.7034,78.51,88,100,5.30
23,23,Butaritari,KI,2021-10-08 10:08:35,3.0707,172.7902,82.54,72,46,14.16
24,24,Atuona,PF,2021-10-08 10:08:36,-9.8000,-139.0333,77.54,71,15,15.43
35,35,Victoria,HK,2021-10-08 10:07:26,22.2855,114.1577,80.58,96,100,1.01
37,37,Davila,PH,2021-10-08 10:08:41,18.4726,120.5763,82.20,78,98,3.33
38,38,Tual,ID,2021-10-08 10:08:41,-5.6667,132.7500,82.40,74,75,11.72
44,44,Faanui,PF,2021-10-08 10:08:43,-16.4833,-151.7500,78.03,74,18,7.43
45,45,Khash,IR,2021-10-08 10:08:44,28.2211,61.2158,89.49,7,0,12.30

In [57]:
preferred_cities_df.isnull().count()

City ID       178
City          178
Country       178
Date          178
Lat           178
Lng           178
Max Temp      178
Humidity      178
Cloudiness    178
Wind Speed    178
dtype: int64

In [59]:
# Create a DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
0   Cockburn Town      TC     82.04  21.4612  -71.1419
2           Vaini      TO     75.36 -21.2000 -175.2000
20           Auki      SB     78.51  -8.7676  160.7034
23     Butaritari      KI     82.54   3.0707  172.7902
24         Atuona      PF     77.54  -9.8000 -139.0333
35       Victoria      HK     80.58  22.2855  114.1577
37         Davila      PH     82.20  18.4726  120.5763
38           Tual      ID     82.40  -5.6667  132.7500
44         Faanui      PF     78.03 -16.4833 -151.7500
45          Khash      IR     89.49  28.2211   61.2158

In [63]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# Iteratre through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat}, {lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [67]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Cockburn Town,TC,82.04,21.4612,-71.1419,Osprey Beach Hotel
2,Vaini,TO,75.36,-21.2000,-175.2000,Keleti Beach Resort
20,Auki,SB,78.51,-8.7676,160.7034,Auki Motel
23,Butaritari,KI,82.54,3.0707,172.7902,Isles Sunset Lodge
24,Atuona,PF,77.54,-9.8000,-139.0333,Villa Enata
35,Victoria,HK,80.58,22.2855,114.1577,Mini Hotel Central
37,Davila,PH,82.20,18.4726,120.5763,Blue Ridge Beach Resort
38,Tual,ID,82.40,-5.6667,132.7500,Grand Vilia Hotel
44,Faanui,PF,78.03,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
45,Khash,IR,89.49,28.2211,61.2158,دفتر پیشخوان دولت جمال زهی (خالد)

In [70]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [71]:
# Add a heatmap of temperature for the vacation spots and marker for each city.

locations = hotel_df[["Lat", "Lng"]]

max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)

fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))